@*個人情報保護法の取り組み*@
<div id="privacy">
    <p class="me_error" ng-hide="!metaData.selectflag"> 個人情報の取扱いについて</p>

    <p >
        公益財団法人沖縄県メモリアル整備協会は、事業活動を展開する中で情報セキュリティの重要性を認識し、当協会が保有又は管理運用する情報資産を盗難、改ざん、破壊、漏洩、不正アクセス行為等から保護するために、セキュリティ事件・事故の防止と継続的な情報セキュリティ対策への取り組みに努めるとともに、下記の通り個人情報の取扱いについてに定めます。<br />
        <br />
        <span >【１】個人情報保護に関する方針</span>
    </p>
    <p >公益財団法人沖縄県メモリアル整備協会（以下、当協会と表記）は、個人情報の取扱いにおける重要性、また社会的な責任を十分に認識した上で、個人情報の適正な保護に努めます。</p>
    <ol >
        <li>当協会は、法令を遵守し、法令等の規定に従い、適正に個人情報を取扱います。</li>
        <li>当協会は、個人情報の利用目的を明確にし、その取扱いについては利用目的の範囲内で必要なものに限定致します。保持する内容については、できる限り正確で最新の内容である様に努めます。</li>
        <li>当協会は、取得した個人情報の適正な管理のために、取扱い責任者を任命し、その責任の所在をを明確に致します。</li>
        <li>当協会は、取得した個人情報の取扱い責任者および取扱いに関わる者に対し、ガイドラインの周知徹底を行い、その管理・監督を致します。また、外部に取得した情報を委託する事は致しません。</li>
        <li>当協会は、公的な各種の基準やガイドラインなどを参考にしながら、個人情報の安全管理の対策や措置を実施致します。</li>
        <li>当協会は、個人情報の取扱いに関するお客様からのお問合せ・ご相談などに適切に対応致します。</li>
        <li>当協会は、個人情報の保護・管理に必要な対策や措置に関して、継続的な改善を実施していきます。</li>
        <li>当協会は、法令を遵守し、公安・警察・裁判所・その他の正当な各種機関からの情報開示の申し出に対しては、お客様への同意無しに、その要請や指示に従うものと致します。</li>
    </ol>
    <p >【２】安全管理に関する方針</p>
    <p >公益財団法人沖縄県メモリアル整備協会（以下、当協会と表記）は、個人情報の取り扱いに際し、下記の措置を適切に実行するように努めます。</p>
    <ol >
        <li>当協会は、取得した個人情報に関して、技術的な各種の保護方策、情報へのアクセス権限やその管理、情報の外部持出しに対する物理的な制限の設置、不正な外部からの情報アクセスを防止する方策、またセキュリティのチェック体制を常に確認・改善する対策を徹底する事によって、不正なアクセス・情報漏えい・改ざん・消失・き損等の防止に努めます。</li>
        <li>
            情報をご提供いただいたご本人様からの利用目的の通知、個人情報の開示・訂正・追加・削除についてのお申し出がある場合は、適正に対処致します。当協会の営業時間外の場合は、メールもしくはFAXにてご連絡願います。ご本人からのお申し出に対して、当協会が規定する書面をFAXにて受付・回答するものとします。<br />
            但し、ご本人もしくは代理人であることを確認できる書面が別途必要です。これは不正な開示請求等を防ぐための処置です。また、お客様側の手続きに関わる費用（着払いやコレクトコールなどの費用がかかるもの）について当協会はその一切の債務を負いません。以上を予めご了承の上、ご利用をいただくものとします。<br />
            &nbsp;
        </li>
        <li>
            郵送などに必要な費用について　事務処理の都合上、証明書などの取得費用や郵送料金が必要な場合は、<br />
            その全費用をお客様に請求いたします。当協会指定振込先に入金を確認した時点で、速やかに事務処理、郵送処理をいたします。
        </li>
    </ol>
    <p >【３】個人情報に関する安全管理上の改定処置について</p>
    <p >当協会は「個人情報の取扱いについて」の内容を改定する場合があります。その際は、本ページに内容を反映し公表するものと致します。</p>
    <p>
        平成24年10月1日<br />
        公益財団法人沖縄県メモリアル整備協会<br />
        理事長　屋冝由章　
    </p>
</div>
<br />

<div class="form-group row">
    <div class="col-xs-6 ">
        <a ui-sref="form.input" class="btn btn-block btn-default">
            戻る <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>
    </div>
</div>
<div class="meta-hidden"><input type="text" name="hiddenflag" ng-model="metaData.hidenflag" required></div>
