@section css{
   <link href="~/stylesheets/bootstrap.min.css" rel="stylesheet" />
   <link href="~/stylesheets/catalogstyle.min.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1 col-xs-12">
        <div class="jumbotron text-muted text-center">
            <p>おきなわ霊廟</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">

            <p class="lead">
                恐れ入ります、只今システムの不具合の為、情報を保存することが出来ませんでした。</p>

            <p class="lead">
                大変、ご迷惑をおかけ致しますが、時間を置いて再度登録いただけます様お願いいたします。

            </p>
            <br style="margin-bottom:100px"/>
            <p class="lead">
                <a href="./" class="btn btn-outline-inverse btn-lg">トップへ戻る</a><br>
            </p>

        </div>
    </div>
</div>
@section javascript{



}